.header {
  height: 400px;
  width: 100%;
  background-color: #db8c4f;
  background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
