.new-tweet {
  width: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.submit-and-show {
  font-family: "Bungee";
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: x-large;
  font-family: "Bungee";
  border: none;
  background-color:#4056A1;
  color: #ffffff;
  margin-top: 0.10em;
}

textarea {
  outline: none;
  resize: none;
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  margin-top: 5px;
  height: 30px;
  width: 100%;
}

label {
  font-size: 25px;
  font-weight: bold;
}

.negative-count {
  color: red;
}

.error-message {
  width: 100%;
  text-align: center;
  display: flex;
  display: none;
  justify-content: left;
  background-color: #f4f1ec;
  color: red;
  font: "Source Sans Pro";
  font-weight: bold;
  border: solid;
  border-color: red;
  font-size: 20px;
  padding: 0.5em;
  margin-right: 0em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.fa-exclamation-triangle {
  color: orange;
}